body{
    background: rgb(130, 178, 250);
    text-align: center;
    justify-content: center;
}
.words h1{
    text-transform: capitalize;
    font-size: 80px;
    color: #fff;
    margin-top: 200px;
}
.words h2{
    font-size: 50px;
    margin-top: -50px;
}
.words h3{
    margin-top: -40px;
    font-family: sans-serif;
}
.cont button{
    width: 180px;
    height: 40px;
    background: #fff;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;;
}
.cont button:hover{
    background: rgb(26, 104, 219);
    border: 2px solid black;
}
.btm h2{
    color: #fff;
    margin-top: 160px;
}