body{
    background: rgb(130, 178, 250);
    justify-content: center;
}
.head h1{
    color: #fff;
    font-size: 140px;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
}
.edit{
    
    margin-right: 700px;
    margin-top: -90px;
    margin-left: 100px;
}
.edit h2{
    text-align: center;
}
.edit h3{
    margin-top: -20px;
    text-align: center;
    color: #fff;
}
.edit h4{
    margin-top: -20px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.input{
    
    margin-top: -25px;
    margin-right: 700px;
    margin-left: 100px;
}
.input input{
    margin-left: 80px;
    width: 350px;
    height: 20px;
    margin-top: -10px;
}
.input p{
    
    margin-top: -7px;
}
.input1{
    
    margin-top: -12px;
    width: 200px;
    margin-right: 700px;
    margin-left: 180px;
}
.desc{
    width: 350px;
    height: 100px;
    display: inline-block;
}
.button{
    margin-left:180px;
    width: 358px;
}
.btn{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn1{
    width: 100px;
    height: 30px;
    margin-left: 154px;
    background: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.button1{
    margin-top: 15px;
    cursor: pointer;
    width: 50%;
}
.btn2{
    width: 220px;
    height: 30px;
    margin-left: 240px;
    color:black;
    background: rgb(130, 178, 250);
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}
.big{
    height: 300px;
    background: rgb(58, 118, 248);
    margin-left: 650px;
    margin-top: -450px;
    margin-right: 50px;
    border-radius: 10px;
    text-align: center;
}
.table-box{
    margin-top: 10px;
    background: #fff;
    height: 30px;
}
.table td{
    color: #fff;
}