<!DOCTYPE html>
<link rel="stylesheet" href="analysis.css">
<html>
    <body>
        
        <div class="head">
            <h1>analysis section</h1>
        </div>
        <div class="box">
            <h1>filter by year</h1>
            <div class="input">
                <p><input type="button" value="2020" class="btn"></p>
                <p><input type="button" value="2021"class="btn"</p>
                <p><input type="button" value="2022" class="btn"></p>
                <p><input type="button" value="2023" class="btn"></p>
        </div>
           <input type="submit" value="Download this" class="btn1">
          </div>
          <div class="back"><a href="nowyou.html">
            <input type="submit" value="Go back" class="btn2"></a>
         </div> 
    </body>
</html>