<!DOCTYPE html>
<link rel="stylesheet" href="image.css">
<html>
    <body>
        <div class="head">
            <h1>Attach results</h1>
        </div>
        <div class="pic">
            <h1>1. Arrange your results as you see below</h1>
        <img src="image.png">
        </div>
        <div class="bot">
        <p><h1>2. Save excel results as CSV in order to upload them </h1></p>
        <p><h1>3. Now you can upload the results below and get analysis</h1></p>
        </div>
         <div class="slt">
            <select name="department" class="slt1">
                <option> </option>
                <option>Dispensing</option>
                <option>Cashier</option>
                <option>Doctor</option>
                <option>Store</option>
            </select>
            <p><input type="text" placeholder="Module code" class="slt1"></p>
         </div>
         <div class="button">
            <input type="button" value="Choose file" class="btn">
            <input type="submit" value="save" class="btn">
            <input type="button" value="Delete" class="btn">
        </div>
        <div class="back">
            <a href="nowyou.html">
            <input type="submit" value="Go back" class="btn2">
        </a>
         </div>
    </body>
</html>