<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/nowyou.css'%}">
<html>
    <body>
        <div class="words">
            <h1>Now you can</h1>
            <div class="cont">
                <a href="{% url 'cstyle' %}">
                <button>Create/ modify teaching style</button>
                </a></div>
                <div class="cont">
                <a href="image.html">
                <button>Upload style results</button>
                </a></div>
                <div class="cont">
                <a href="analysis.html">
                <button>Analyze styles</button>
                </a><br>
                <div class="cont">
                    <a href="support.html">
                    <button>Tech support</button>
                    </a>
                </div>
            </div>
        </body>
</html>