<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/sign.css'%}">
<html>
    <body>
        <div class="head">
            <h1>Made for Academic<br>
            data synthesis</h1>
        </div>
        <form action="{% url 'nowyou' %}" method="post">
            {% csrf_token %}
            <div class="log-box">
                <div class="new">
                    <p><input type="text" placeholder="Email" class="input" name = "email" ></p>
                    <input type="password" placeholder="Password" class="input" name="password">
                    <a href="{% url 'nowyou' %}">
                    <p><input type="submit" value="Login" class="btn"></p>
                    </a>
                    <h3><p>A valid email address ends with</p>
                    <p>"@ada.ac.tz"</p>
                    <p>which is registered under Techsupport</p>
                    </h3><a href="support.html">
                    <p><input type="submit" value="contact Techsupport" class="btn1"></p></a>
                </div>
            </div>
        </form>
    </body>
</html>