<!DOCTYPE html>
<link rel="stylesheet" href="support.css">
<html>
    <body>
        <div class="head">
            <h1>Support center</h1>
        </div>
        <div class="sup">
            <p><input type="text" placeholder="Name" class="input"></p>
            <input type="text" placeholder="Email" class="input">
        </div>
        <div class="sup1">
            <input type="text" placeholder="your message" class="input1">
            <p><input type="submit" value="send" class="btn"></p>
        </div>
        <div class="left"><div class="stan">
            <h1>Technical support</h1></div>
         </div>
        <div class="back">
            <a href="sign.html">
            <input type="submit" value="Go back" class="btn2">
        </a>
         </div>
    </body>
</html>
